<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booksprint</title>

    <link rel="stylesheet" href="styles.css">
    <script src="/js/typing.js"></script>
</head>

<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <h2>Booksprint</h2>
        <a href="login.html">Logout</a>
    </header>

    <div class="container">
        <aside>
            <a href="discover.html" class="active-nav">Discover</a>
            <a href="saved.html" class="active-nav">Saved</a>
        </aside>

        <main>
            <div id="pause-indicator">Press ESC to Resume</div>
            <div id="typing-interface">
                [Placeholder for the typing interface]
            </div>

            <h3>Discover new books:</h3>
            <div class="example-books">
                <div class="book">
                    <h4>Alice in Wonderland</h4>
                    <p>Lewis Carroll</p>
                </div>
                <div class="book">
                    <h4>The Time Machine</h4>
                    <p>H.G. Wells</p>
                </div>
                <div class="book">
                    <h4>Frankenstein</h4>
                    <p>Mary Shelley</p>
                </div>
            </div>
        </main>
    </div>


</body>

</html>
