<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booksprint</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="/js/typing.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/auth.js"></script>
    <script src="/js/new-book.js"></script>
</head>

<body>
    <header th:replace="~{fragments :: header}"></header>

    <div class="container">
        <aside th:replace="~{fragments :: left-sidebar(false)}"></aside>

        <main>
            <div id="user-stats">
                <div id="wpm-display"><i class="fa-solid fa-stopwatch"></i> WPM: <span id="wpm-value">0</span></div>
                <div id="accuracy-display"><i class="fa-solid fa-bullseye"></i> Accuracy: <span
                        id="accuracy-value">100</span>%</div>
                <div id="time-display"><i class="fa-solid fa-hourglass-half"></i> Time: <span
                        id="time-value">--:--</span></div>
            </div>
            <div id="pause-indicator">Press ESC to Resume</div>
            <div id="typing-wrapper">
                <div id="typing-interface">
                    <div id="chunk-container"></div>
                </div>
                <div th:insert="~{session-select :: session-select}"></div>
            </div>
            <div id="pause-instructions">Press ESC to Pause</div>

            <div class="section-heading">
                <h3>More from this Genre</h3>
                <span>See more</span>
            </div>
            <div class="example-books">
                <div class="book">
                    <div class="book-info">
                        <h4>Alice in Wonderland</h4>
                        <p>Lewis Carroll</p>
                        <button class="book-play" type="button">
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                    <div class="book-placeholder-image"></div>
                </div>
                <div class="book">
                    <div class="book-info">
                        <h4>The Time Machine</h4>
                        <p>H.G. Wells</p>
                        <button class="book-play" type="button">
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                    <div class="book-placeholder-image"></div>
                </div>
                <div class="book">
                    <div class="book-info">
                        <h4>Frankenstein</h4>
                        <p>Mary Shelley</p>
                        <button class="book-play" type="button">
                            <i class="fa-solid fa-play"></i>
                        </button>
                    </div>
                    <div class="book-placeholder-image"></div>
                </div>
            </div>
        </main>
        <aside class="right-sidebar">
            <p class="book-name">No book selected</p>
            <p class="author-name">Author: -</p>
            <div class="current-book-cover" aria-hidden="true"></div>
            <div class="progress-circle">
                <span class="progress-text">0%</span>
            </div>
            <button class="favorite-button" type="button"><i class="fa-solid fa-star"></i> Favorite</button>
        </aside>
    </div>

    <dialog th:replace="~{fragments :: new-book-dialog}"></dialog>


</body>

</html>
